---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="font-sans bg-gray-50 text-gray-900">
		<Header />
		<main class="w-[calc(100%-2em)] max-w-full m-0">
			<article class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
				<div class="hero-image w-full">
					{heroImage && <Image class="block mx-auto rounded-lg shadow-md" width={1020} height={510} src={heroImage} transition:name="hero-image" alt="" />}
				</div>
				<div class="prose lg:prose-xl max-w-none pb-8 pt-10">
					<div class="title mb-4 py-4 text-center leading-tight">
						<div class="date mb-2 text-gray-600">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on italic">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14" transition:name="blog-title">{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
